diskcache
scipy
numpy
pillow
gguf
tqdm

# for Windows - CUDA 13.0
llama-cpp-python @ https://github.com/JamePeng/llama-cpp-python/releases/download/v0.3.30-cu130-Basic-win-20260302/llama_cpp_python-0.3.30+cu130.basic-cp312-cp312-win_amd64.whl; python_version == "3.12" and platform_system == "Windows"
llama-cpp-python @ https://github.com/JamePeng/llama-cpp-python/releases/download/v0.3.30-cu130-Basic-win-20260302/llama_cpp_python-0.3.30+cu130.basic-cp313-cp313-win_amd64.whl; python_version == "3.13" and platform_system == "Windows"
llama-cpp-python @ https://github.com/JamePeng/llama-cpp-python/releases/download/v0.3.30-cu130-Basic-win-20260302/llama_cpp_python-0.3.30+cu130.basic-cp314-cp314-win_amd64.whl; python_version == "3.14" and platform_system == "Windows"
